# AI documentation
docs/ai/

# AI prompts
prompts/

# Python cache
__pycache__/
*.pyc

# Entornos
.env
.venv
venv

# Editor
.vscode/
.idea/

# base de datos*.db
*.db

# copias de seguridad
.bak
respaldo/

# otros archivos temporales
*.tmp
*.log
*.port
license.json
license_cache.json
clean_history.sh

# build y distribución
# build/
# dist/
# dist*/
# Output/
# build_*/
build_deb/

# llaves y secretos
*.key
*.pem
*.secret
*.env
secret/
*.asc
keys/

## --- Scripts de despliegue y archivos de configuración local --- ###
scripts/*