# =========================
# 🌐 Backend
# =========================
Flask==3.0.3

# =========================
# 🌍 HTTP
# =========================
requests==2.32.3

# =========================
# 🖥️ UI (webview)
# =========================
pywebview==4.4

# =========================
# 🔐 Licencias / crypto
# =========================
cryptography==43.0.1

# =========================
# 📦 Build
# =========================
pyinstaller==6.19.0